#nav {
  width: 100%;
  height: 80px;
  background-color: #272727;
  display: flex;
  font-family: "Cabin", sans-serif;
  position: fixed;
}

#nav__menu {
  display: flex;
  flex-direction: row;
}
#nav__menu img {
  width: 75px;
  margin-right: 45px;
}

.nav__content {
  width: 100%;
  display: flex;
  gap: 40px;
  font-size: 30px;
}

.nav__content--disabled {
  display: none;
}

.nav__button {
  color: white;
}

.nav__button:hover {
  color: #e70000;
}

#nav__responsive {
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#nav__responsive i {
  display: none;
}

.disabled {
  display: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 992px) {
  .nav__content {
    top: 80px;
    width: 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.831372549);
    flex-direction: column;
    font-size: 40px;
    gap: 30px;
  }
  .nav__content ul {
    animation: opacity 1.2s;
    -webkit-animation: opacity 1.2s;
  }
  .nav__content--disabled {
    display: initial;
  }
}
#hero {
  display: flex;
  width: 100%;
  height: 1000px;
  color: white;
  font-family: "Cabin", sans-serif;
}
#hero img {
  width: 500px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero__content h2 {
  font-size: 50px;
}
.hero__content a {
  color: white;
}

.hero__button {
  font-size: 25px;
  display: flex;
  margin-top: 20px;
  gap: 50px;
}

.hero__button--enabled {
  border: solid #e70000;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hero__button--enabled:hover {
  background-color: #e70000;
}

.hero__red {
  font-size: 65px;
  font-family: "Cabin", sans-serif;
  color: #e70000;
}

@media (max-width: 914px) {
  .hero__content {
    width: 70%;
  }
}
#products {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Cabin", sans-serif;
  gap: 30px;
  color: white;
}
#products img {
  max-width: 250px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#products div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products__content {
  max-height: 500px;
  height: 500px;
  border: solid red;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.3803921569);
}
.products__content h2 {
  max-width: 250px;
  min-width: 200px;
}

.products__cart {
  padding: 10px 25px;
  border: solid red;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.products__price {
  font-size: 25px;
}

.products__cart:hover {
  background-color: red;
  border: solid red;
}

#filter {
  display: flex;
  justify-content: start;
  padding-top: 200px;
  font-family: "Cabin", sans-serif;
}

.filter__content {
  color: white;
}
.filter__content i {
  cursor: pointer;
  padding-left: 80px;
}

#cart {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 500px;
  border: solid red;
}
#cart img {
  max-width: 250px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

* {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background: url("../src/background.jpg");
}

/*# sourceMappingURL=style.css.map */
