@use "var";

#nav{
    width: 100%;
    height: 80px;
    background-color: var.$nav-color;
    display: flex;
    font-family: 'Cabin', sans-serif;
    position: fixed;
}

#nav__menu{
    display: flex;
    flex-direction: row;

    img{
        width: 75px;
        margin-right: 45px;
    }
}

.nav__content{
    width: 100%;
    display: flex;
    gap: 40px;
    font-size: 30px;
}

.nav__content--disabled{
    display: none;
}

.nav__button{
    color: var.$primary-color;
}

.nav__button:hover{
    color: var.$button-hover;
}

#nav__responsive{
    font-size: 50px;
    color: var.$primary-color;
    cursor: pointer;

    i{
        display: none;
    }
}

.disabled{
    display: none;
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    
    to{
        opacity: 100%;
    }
}

@media (max-width: 992px){

    .nav__content{
        top: 80px;
        width: 100%;
        height: 100%;
        position: fixed;
        width: 100%;
        background-color: #ffffff59;
        flex-direction: column;
        font-size: 40px;
        gap: 30px;

        ul{
            animation: opacity 1.2s;
            -webkit-animation: opacity 1.2s;
}
}

    .nav__content--disabled{
        display: initial;
    }
}