@import "nav";
@import "var";
@import "hero";
@import "products";

*{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background: url("../src/background.jpg");
}